*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
button{
    margin-top: 50px;
    padding: 10px 30px;
}